body{
    background-color:wheat;
    margin: 0 px;
    padding: 0;
    font-family:  Georgia,"Times New Roman",Times,serif;
     color: #333333;
     line-height: 1.5em;
}

header{
    background-color: peru;
    text-align: center;
    margin: 0px;
    padding: 25px;
}
h1 {
   color:whitesmoke;
   font-size: 28px;
   padding: 10px;
   margin:0; 
  
}

h2{
    font-size:24px;
}
a{
    color:#d21034
}

.container{
    width: 1024px;
    margin: 0 auto;
}

#main-bio, #contact-info, #bio-image{
    float: left;
}
#bio-image{
    width: 200px;
    margin-right: 10px;
}
#main-bio{
    width: 70%;
    margin-left: 10%;
    
}
#contact-info{
    width: 30%;
}
